@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Dancing+Script:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Dancing+Script:wght@400..700&family=Nosifer&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Dancing+Script:wght@400..700&family=Economica:ital,wght@0,400;0,700;1,400;1,700&family=Nosifer&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap');

/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* Navbar principal */
.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 1rem 2rem;
    border-bottom: 1px solid #ddd;
}

.main-nav .logo img {
    width: 5rem;
}

.main-nav a:not(.a-iniciosesion){
    font-family: "Economica", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
    margin: 0 1rem;
}

.main-nav .a-iniciosesion{
    font-family: "Economica", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
}

.main-nav a:hover {
    text-decoration: underline;
}

/* Navbar */
.genre-nav {
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 0.5rem 0;
    border-bottom: 1px solid #ddd;
    align-items: center;
}

.genre-nav a {
    color: #777;
    text-decoration: none;
    margin: 0 1.5rem;
    font-weight: bold;
}

.genre-nav a:hover,
.genre-nav a.active {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 0.25rem;
}

.titulo-genero{
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 1rem;
}

/* NAVEGADOR DE GENEROS */

.menu{
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.menu ul{
    display: flex;
    font-size: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.menu li{
    padding: 1rem;
}

.menu ul li a{
    color: rgb(2, 2, 2);
    text-decoration: none;
    letter-spacing: 0.3rem;
    font-family: "Economica", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.menu ul li:hover{
    background-color: rgb(137, 137, 253);
}

.menu ul li a:hover{
    color: white;
}

/* COMICS SEGÚN EL DIA */

.comics-dias{
    padding: 2.6rem;
}

/* APARTADO GENERO FANTASÍA */

.genero-fantasia{
    background-color: rgba(68, 227, 255, 0.486);
}

.genero-fantasia .comics-genero{
    padding-bottom: 10rem;
}

.genero-fantasia h3#fantasia{
    color: rgb(2, 2, 2);
    text-decoration: underline;
    letter-spacing: 0.3rem;
    font-family: "Economica", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 1rem;
    font-size: 3rem;
}

/* APARTADO GENERO COMEDIA */

.genero-comedia{
    background-color: rgba(255, 68, 68, 0.486);
}

.genero-comedia .comics-genero{
    padding-bottom: 10rem;
}

.genero-comedia h3#comedia{
    color: rgb(2, 2, 2);
    text-decoration: underline;
    letter-spacing: 0.3rem;
    font-family: "Economica", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 1rem;
    font-size: 3rem;
}

/* APARTADO GENERO ACCIÓN */

.genero-accion{
    background-color: rgba(233, 181, 84, 0.486);
}

.genero-accion .comics-genero{
    padding-bottom: 10rem;
}

.genero-accion h3#accion{
    color: rgb(2, 2, 2);
    text-decoration: underline;
    letter-spacing: 0.3rem;
    font-family: "Economica", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 1rem;
    font-size: 3rem;
}

/* APARTADO GENERO ROMANCE */

.genero-romance{
    background-color: rgba(255, 192, 203, 0.651);
}

.genero-romance .comics-genero{
    padding-bottom: 10rem;
}

.genero-romance h3#romance{
    color: rgb(2, 2, 2);
    text-decoration: underline;
    letter-spacing: 0.3rem;
    font-family: "Economica", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 1rem;
    font-size: 3rem;
}

/* APARTADO GENERO TERROR */

.genero-terror{
    background-color: rgba(39, 39, 39, 0.582);
}

.genero-terror .comics-genero{
    padding-bottom: 10rem;
}

.genero-terror h3#terror{
    color: rgb(2, 2, 2);
    text-decoration: underline;
    letter-spacing: 0.3rem;
    font-family: "Economica", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 1rem;
    font-size: 3rem;
}

/* APARTADO GENERO PARANORMAL */

.genero-paranormal{
    background-color: rgb(66, 66, 247);
}

.genero-paranormal .comics-genero{
    padding-bottom: 10rem;
}

.genero-paranormal h3#paranormal{
    color: rgb(2, 2, 2);
    text-decoration: underline;
    letter-spacing: 0.3rem;
    font-family: "Economica", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 1rem;
    font-size: 3rem;
}


/* COMICS-GENERO */


/*---------------------------------------------*/

/* Clase para el género activo */

/*---------------------------------------------*/

footer {
    background-color: white;
    text-align: center;
    border-top: 1px solid rgb(182, 179, 179);
    padding: 1.5rem;
}

footer img {
    max-width: 7rem;
}

/* CARROUSEL */

.carousel-control {
    color: #e91c1c;
    /* Asumiendo que $white es #ffffff */
    width: 15%;
    opacity: 0.5;
    transition: opacity 0.15s ease;
}

.carousel-indicator {
    width: 30px;
    height: 3px;
    opacity: 0.5;
    background-color: #ffffff;
    /* Asumiendo que $white es #ffffff */
    transition: opacity 0.6s ease;
}

.carousel-inner {
    background-image: url('../img/fondo-cielo-pastel-acuarela-pintado-mano_23-2148920283.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.carousel-caption {
    width: 70%;
    color: #ffffff;
    /* Asumiendo que $white es #ffffff */
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    margin-bottom: 1.25rem;
    /* Puede ser usado como spacer */
}

.carousel-control-icon {
    width: 5rem;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#ffffff'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#ffffff'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");
}

.carousel-transition {
    transition: transform 0.6s ease-in-out;
}

/* GÉNEROS - INICIO */

.comics-genero-inicio {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.5rem;
    padding: 5rem;
    max-width: 1100px;
    margin: auto;
}

.comic-info-genero-inicio {
    display: flex;
    flex-direction: column;
    background-color: #f36c6c;
    border-radius: 8px;
}

.comic-info-genero-inicio h3 {
    padding-bottom: 80px;
}

/* AGREGAR TEXTO ENCIMA DE LAS CARDS ROMANCE*/

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(252, 56, 187);
    /* Fondo blanco semitransparente */
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 0.3rem;
    border: 1rem solid palevioletred ;
}

.card:hover .overlay {
    opacity: 1;
}

.overlay-text {
    color: #333;
    /* Color del texto */
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
}

/* AGREGAR TEXTO ENCIMA DE LAS CARDS FANTASÍA */

.overlay-fantasia {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(161, 38, 209);
    /* Fondo blanco semitransparente */
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 0.3rem;
    border: 1rem solid rgba(105, 0, 105, 0.801) ;
}

.card:hover .overlay-fantasia {
    opacity: 1;
}

.overlay-fantasia .overlay-text {
    color: white;
    /* Color del texto */
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
}

/* AGREGAR TEXTO ENCIMA DE LAS CARDS FANTASÍA */

.overlay-paranormal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(1, 4, 172);
    /* Fondo blanco semitransparente */
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 0.3rem;
    border: 1rem solid rgba(33, 36, 226, 0.562) ;
}

.card:hover .overlay-paranormal {
    opacity: 1;
}

.overlay-paranormal .overlay-text {
    color: white;
    /* Color del texto */
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
}

/* COLORES DEPENDIENDO DEL GENERO */

.tipo-genero-romance {
    color: rgb(238, 58, 88);
}

.tipo-genero-fantasia {
    color: rgb(132, 0, 158);
}

.tipo-genero-paranormal {
    color: blue;
}

/* GENEROS - INICIO */

.titulo-genero {
    text-align: center;
}

.generos {
    padding: 2rem;
}

.generos .tarjeta-paranormal {
    padding-top: 1rem;
}





.card-img-top {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* Para que la imagen se ajuste al tamaño de la card sin distorsionarse */
}

.overlay-generos {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    /* Fondo semitransparente */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.card:hover .overlay-generos {
    opacity: 1;
}

.overlay-text-generos {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.overlay-text-generos a {
    color: #fff;
    /* Color del texto */
    text-decoration: none;
}