# Ignorar la carpeta .vs
.vs/

# Ignorar bin y obj (carpetas generadas durante la compilación)
bin/
obj/

# Ignorar archivos de configuración de Visual Studio
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignorar otros archivos generados automáticamente
appsettings.json
appsettings.Development.json
